.Services {
    background-color: var(--bg-color);
    padding: 5.5vw 7vw;
    position: relative;
    /* padding-top: 100px; */
}

.Services h2 {
    font-size: var(--h2-font);
    line-height: var(--h2-line);
    color: var(--secondary);
    text-align: center;
}

.cards {
    margin-top: 5.7vw;
    display: flex;
    padding: 10px 0;
    gap: 10%;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.cards::-webkit-scrollbar {
    display: none;
  }

.card {
    border-radius: 8px;
    min-width: 25%;
    width: 25%;
    text-align: center;
    scroll-snap-align: start;
    transition: 700ms;

    animation: zoomEffect 5s infinite;
}

.card:nth-child(odd){
    animation-delay: 1s;
}
.card:nth-child(even){
}

.card:hover{
    opacity: 0.8;
    transform: scale(1.05,1.02);
    box-shadow: 0px 0px 5px 0px;
}

.card img {
    width: 100%;
    /* animation: zoomEffect 5s infinite; */
}

@keyframes zoomEffect {
    0% {transform: scale(1);}
    50% {transform: scale(1.03);}
    100% {transform: scale(1);}
    
}

.ind-container {
    width: 180px;
    margin: 0 auto;
    display: block;
}

.indicator-serv {
    display: flex;
    justify-content: space-between;
    width: 180px;
    position: absolute;
    /* left: 0%; */
    align-items: center;
    bottom: 20px;
    opacity: 0.8;
}

.Services .c7,
.Courses .c7,
.Testimonials .c7 {
    border: 1px solid var(--primary);
    border-radius: 50%;
    position: absolute;
    /* left: 19px; */
    /* left: 41px; */
    transition: 700ms;
    height: 14px;
    width: 14px;
    margin-left: -3px;
}
.Services .c2, 
.Courses .c2,
.Testimonials .c2 {
    background-color: var(--primary);
    height: 8px;
    width: 8px;
}

.card h4 {
    font-size: var(--card-h-font);
    line-height: var(--card-h-line);
    color: var(--primary);
    text-align: center;
}
.card p {
    font-size: var(--card-p-font);
    line-height: var(--card-p-line);
}

.Services .arrow {
    position: absolute;
    top: 50%;
    right: 3%;
    cursor: pointer;
    height: 1.85vw;
}
.Services .arrow img, .Services .arrowb img {
 height: 3vw;
}
.Services .arrowb {
    position: absolute;
    top: 50%;
    left: 3%;
    cursor: pointer;
    transform: scaleX(-1);
}


@media (max-width: 780px) {
    .card {
        min-width: 42%;
        margin: 0 8%;
        /* border: 1px solid black; */
        
        /* box-shadow: 1px 1px 5px 1px orange; */

    }

    .cards {
        gap: 0;
    }
}

@media (max-width: 800px) {
    .card {
        min-width: 50%;
        margin: 0 25%;
        scroll-snap-align: center;
    }

    .card h4 {
        background-color: black;
        padding: 5px 0;
    }

    .cards {
        gap: 0;
    }

    .Services .arrow {
        top: 52%;
        right: 9%;
    }

   .Services .arrowb {
        top: 52%;
        left: 9%;
    }

    .Services .arrow img, .Services .arrowb img {
        height: 30px;
    }
}

@media (max-width: 700px) {
    .card {
        min-width: 100%;
        margin: 0 15%;
        background-color: white;
        border-radius: 2px;
        animation: none;
    }

    .card div {
        height: 54vw;
        /* border: 1px solid red; */
        overflow: hidden;
    }

    .card img {
        animation: zoomEffect 7s infinite;
    }

    .card p {
        padding: 15px 0;
    }
    
    .Services .arrow img, .Services .arrowb img {
        height: 6vw;
        opacity: 0.7;
    }

    .ind-container {
        /* border: 1px solid red; */
        width: 180px;
        margin: 0 auto;
        display: block;
    }

    /* .Services .c7 {
        border: 1px solid var(--primary);
        border-radius: 50%;
        position: absolute;
        transition: 700ms;

        height: 14px;
        width: 14px;
        margin-left: -3px;
    }
    .Services .c2 {
        background-color: var(--primary);
        height: 8px;
        width: 8px;
    } */

    .Services .arrow {
        top: 48%;
        right: 10%;
        display: none;
    }

   .Services .arrowb {
        top: 48%;
        left: 10%;
        display: none;
    }
}

@media (min-width: 1700px) {
    .card {
        width: 25%;
        min-width: 20%;
    }

    .cards {
        gap: 6%;
    }
}